<li>
  <div class="view">
    <input type="checkbox" class="toggle" />

    <label>
      <%= task.title %>
    </label>

    <%= link_to '', task_path(task), method: :delete, remote: true, class: 'destroy', data: { 'task-id': task.id }  %>
  </div>
</li>
